# Example of .env file, fill in the values and rename it to .env to use

# Discord API
DISCORD_BOT_TOKEN=YOUR_BOT_TOKEN
HOME_CHANNEL_ID=DISCORD_HOME_CHANNEL_ID
HOME_SERVER_ID=DISCORD_HOME_SERVER_ID

# Youtube API
YOUTUBE_API_KEY=YOUR_YOUTUBE_API_KEY

# Bluesky API
BLUESKY_USERNAME=YOUR_BLUESKY_USERNAME
BLUESKY_PASSWORD=YOUR_BLUESKY_PASSWORD

# Target Socials
NIMI_CHANNEL_ID=TARGET_YOUTUBE_CHANNEL_ID
NIMI_PLAYLIST_ID=TARGET_YOUTUBE_PLAYLIST_ID

NIMI_BLUESKY_ID=TARGET_BLUESKY_ID
